@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Oswald');
body {
  background-color: #bbbbbb;
  background-image: url();
}

header {
  width: 100%;
  background-color: #D8E3AB;
  height: 70px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #D8E3AB;
  height: 70px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  /*img{
    position:relative;
    top:20px;
    width:auto;
    height:70px;	
    align: right;
  }*/
  img-position:relative;
  img-width:auto;
  img-height:70px;	
  img-align: right;
}

#page {
  width: 960px;
  margin: 0 auto;
  margin-top: 10px;
  <!-- отступ сверху -->
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #000088;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #0000ff;
}

p {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  text-indent: 20px;
}

li {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

article {
  -webkit-columns: 4 150px;
  -moz-columns: 4 150px;
  columns: 4 150px;
  height: 105px;
}